* {
    margin: 0;
    padding: 0;
}

body {
}

header {
    background-image: url("./img/bg.jpg");
    height: 100vh;
}

header h1 {
    color: aliceblue;
}

nav {
    height: 50px;
    background-color: maroon;
    font-size: larger;
}

nav .flex-container {
    position: relative;
    width: 50%;
    left: 50%;
    background-color: saddlebrown;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

nav .flex-item {
    text-align: center;
}

header h1 {
    position: relative;
    top: 70%;
    left: 10%;
}

nav a {
    color: antiquewhite;
}

#about {
    background-color: bisque;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-left {
    display: inline;
}

.about-left-background {
    position: relative;
    top: 10%;
    left: 10%;
    width: 80%;
    z-index: 0;
}

.about-left-foreground {
    position: relative;
    top: -30%;
    left: 60%;
    width: 80%;
    z-index: 1;
}

.about-left img {
    max-width: 100%;
    height: auto;
}

.about-text {
    position: relative;
    top: 30%;
    left: 30%;
    width: 50%;
}

#portfolio {
    background-color: blanchedalmond;
}

#portfolio h2 {
    text-align: center;
}

.portfolio-container {
    display: flex;
    justify-content: center;
}

.portfolio-item {
    width: 30%;
    margin: 50px;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}

.portfolio-item figcaption {
    text-align: center;
}

#contacts {
    text-align: center;
}

footer {
    height: 50px;
    background-color: darkslategray;
    text-align: center;
}
